html {
    height: 100;
}

body {
    background: url('/media/homepage_background.png') no-repeat center center fixed;
    background-color: rgb(19, 8, 57);
    background-size: cover;
    height: calc(100vh - 400px);
    color: white;
    font-family: 'Playfair Display', sans-serif;
}

h1 {
    font-family: 'Sedgwick Ave Display', sans-serif;
    font-size: 3.2vw;
}

.logo-effect {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(18, 7, 237);
    background-image: linear-gradient(45deg, white 25%, black 45%, rgb(18, 4, 225) 50%,black 55%, white 75%);
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: gradient 75s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: -80rem 0;
    }
    100% {
        background-position: 0 0;
    }
} 

.navbar {
    padding: 0 !important; 
}

.slogan {
    font-size: 2rem;
    font-weight: bolder;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: red;
}

.icon {
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color:white;
}

.nav-font {
    font-size: clamp(20px, 1.7vw, 30px);
    
}

.logo-font {
    text-transform: uppercase;
}

.main.logo-link {
    width: fit-content;
}

.start-shopping-btn {
    background-color: rgb(136, 24, 136);
    color: white;
    min-width: 260px;
    font-family: 'Sedgwick Ave Display', sans-serif ;
}

.btn-white {
    background: white;
    color: black;
}

.start_shopping-btn:hover,
.start_shopping-btn:active,
.start_shopping-btn:focus,
.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    background: #2dc4bc;
    color: white;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

