<div class="collapse navbar-collapse bg-black" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto py-2">
        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white mr-5" href="#" id="skater-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skaters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skater-link">
                <a href="" class="dropdown-item">Hoodies</a>
                <a href="" class="dropdown-item">Jerseys</a>
                <a href="" class="dropdown-item">T-Shirts</a>
                <a href="" class="dropdown-item">All Skater products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white mr-5" href="#" id="club-socialite-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Club socialite
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="club-socialite-link">
                <a href="" class="dropdown-item">Pants</a>
                <a href="" class="dropdown-item">Jerseys &amp; Jackets</a>
                <a href="" class="dropdown-item">T-Shirts &amp; Tops</a>
                <a href="" class="dropdown-item">All Club-Socialite products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white mr-5" href="#" id="hip-hop-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hip-Hop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hip-hop-link">
                <a href="" class="dropdown-item">Hoodies &amp; T-shirts</a>
                <a href="" class="dropdown-item">Pants &amp;Shorts</a>
                <a href="" class="dropdown-item">All Hip-Hop products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white" href="#" id="to-notch-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Top-Notch
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="top-notch-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Unclassified</a>
                <a href="" class="dropdown-item">Serious Vibes</a>
                <a href="" class="dropdown-item">All Top-Notch</a>
            </div>
        </li>
    </ul>
</div>