<div class="collapse navbar-collapse bg-black" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto pb-1">
        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white mr-3 glow-text" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=carbon_footprint&direction=asc" class="dropdown-item ">By Carbon footprint</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white mr-3" href="#" id="skater-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skaters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skater-link">
                <a href="{% url 'products' %}?category=sk_hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=sk_jerseys" class="dropdown-item">Jerseys</a>
                <a href="{% url 'products' %}?category=sk_Tshirts" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'products' %}?category=sk_hoodies,sk_jerseys,sk_Tshirts" class="dropdown-item">All Skater products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white mr-3" href="#" id="club-socialite-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Club socialite
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="club-socialite-link">
                <a href="{% url 'products' %}?category=club_socialite_pants,club_socialite_skirts" class="dropdown-item">Pants &amp; Skirts</a>
                <a href="{% url 'products' %}?category=club_socialite_jerseys,club_socialite_jackets" class="dropdown-item">Jerseys &amp; Jackets</a>
                <a href="{% url 'products' %}?category=club_socialite_tshirts,club_socialite_tops" class="dropdown-item">T-Shirts &amp; Tops</a>
                <a href="{% url 'products' %}?category=club_socialite_pants,club_socialite_skirts,club_socialite_jerseys,club_socialite_jackets,club_socialite_tshirts,club_socialite_tops" class="dropdown-item">All Club-Socialite products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white mr-3" href="#" id="hip-hop-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hip-Hop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hip-hop-link">
                <a href="{% url 'products' %}?category=hip_hop_hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=hip_hop_Tshirts" class="dropdown-item">T-shirts</a>
                <a href="{% url 'products' %}?category=hip_hop_pants" class="dropdown-item">Pants</a>
                <a href="{% url 'products' %}?category=hip_hop_hoodies,hip_hop_Tshirts,hip_hop_pants" class="dropdown-item">All Hip-Hop products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-white" href="#" id="to-notch-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Top-Notch
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="top-notch-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=unclassified" class="dropdown-item">Unclassified</a>
                <a href="{% url 'products' %}?category=serious_vibes" class="dropdown-item">Serious Vibes</a>
                <a href="{% url 'products' %}?category=new_arrivals,unclassified,serious_vibes" class="dropdown-item">All Top-Notch</a>
            </div>
        </li>
    </ul>
</div>